{
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "semi": true,
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "endOfLine": "lf",
    "jsxSingleQuote": true,
    "quoteProps": "consistent",
    "proseWrap": "always"
}
